header {
    background-color: rgb(66, 53, 245);
    padding: 2 rem;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.class{
    text-align: center;
    position: fixed;
}

a {
    margin: 10px;
    color: #ffffff;
}