<aside>
<ul >
   
      <a href="#click" >
        <h2 class="menu-title">Instagram</h2>       
      </a>

      <a href="#click" class="menu">
        <h2 class="menu-title menu-title_2nd">Facebook</h2>        
      </a>
   
      <a href="#click" class="menu">
        <h2 class="menu-title menu-title_3rd">Twitter</h2>       
      </a>
    
      <a href="#click" class="menu">
        <h2 class="menu-title menu-title_4th">Whatsapp</h2>       
      </a>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  </ul>  
</aside>