aside {
    background-color: rgb(66, 53, 245);
    position: fixed;
    font-size: 20px;
}

.menu-title {
       
    background: #9dc852;
    text-align: left;
    color: #248034;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    
  }

  ul{
    background: #9dc852;

  }

  